.wrapper .product {
    margin: 0;
    text-align: center;
}

.wrapper .product .img {
    margin: 0 auto;
    color: #378bd6;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
}
.wrapper .product {
    padding: 30px;
}
.wrapper .product h3 {
    font-weight: 500;
    margin: 15px 0;
}
.wrapper p {
    font-size: 15px;
    color: grey;
}
